<li id="splain-<%= splain.id %>">
  <span class="user"><%= link_to splain.user.name, splain.user %></span>
  <span class="content"><%= splain.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(splain.created_at) %> ago.
  </span>
  <% if current_user == @user %>
  <span class="edits"><%= link_to "edit", "/splains/#{splain.id}/edit" %> | <%= link_to "delete", splain, method: :delete,
                                data: { confirm: "You sure?" } %></span>
  <% end %>
</li>
